.spiner {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 84;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40vh;
}
.spiner-enter {
    opacity: 0;
    transform: scale(0.9);
}
.spiner-enter-done{
    opacity: 1;
    transition: all 500ms;
}
.spiner-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.spiner-exit {
    opacity: 1;
}
.spiner-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}