.error {
    display: flex;
    
}
.error_p {
        display: flex;
        text-shadow: 1px 0px 1px rgb(150, 15, 15), 0 0 1em rgba(0, 0, 0, 0.416), 0 0 0.2em rgb(118, 118, 118);
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }